body {
    max-width: 780px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    border-bottom: 2px dashed black;
}

input {
    width: 400px;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.complete {
    text-decoration: line-through;
}

#task {
    width: 500px;
    text-align: left;
}