body {
    max-width: 780px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    border-bottom: 2px dashed black;
}


select {
    outline: none;
    border: 1px solid black;
    border-radius: 1px;
    padding: 5px;
    height: 25px;
    width: 75px;
    background-color: white;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.complete {
    text-decoration: line-through;
}

.done {
    height: 25px;
    width: 25px;
    font-size: 18px;
    padding-left: 6px;
    border: 1px solid black;
    margin-left: 7px;
}

.done:disabled {
    border: 1px solid green;
    color: green;
}

.remove {
    height: 25px;
    width: 25px;
    font-size: 18px;
    padding-left: 6px;
    border: 1px solid red;
    color: red;
    margin-left: 16px;
}

#filter-div {
    margin-left: 30px;
    margin-bottom: 20px;
}

#input {
    width: 400px;
    margin: 20px;
    border: 1px solid black;
    outline: none;
    margin: 30px;
    padding: 5px;
}

#submit {
    border-radius: 1px;
    border: 1px solid black;
    margin: 30px;
    padding: 5px;
}

#task {
    width: 500px;
    text-align: left;
}